<footer class="container-fluid footer text-center p-3">
    <div class="container-xxl text-center">
        <!-- Comments by Cusdis -->
      <h4>{{ T "comments" }}:</h4>
      <div id="cusdis_thread" data-host="https://cusdis.com"
        data-app-id="02d5013e-5f19-48a4-915e-7789c820fdce"
        data-page-id="{{ with.File }}{{ .UniqueID  }}{{ end }}" data-page-url="{{ .Permalink }}"
        data-page-title="{{ .Title }}"></div>
      <script defer src="https://cusdis.com/js/widget/lang/{{ .Page.Language.Lang }}.js"></script>
      <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
    </div>
</footer>

